torch
opencv-python
kornia
tqdm==4.46.1
tensorboard==1.14.0
tensorboardX==2.0
gym==0.17.2
PyYAML
easydict==1.9
matplotlib==3.2.2
scikit-learn
Transplant==0.8.10
terminaltables==3.1.0
pynvml
prefetch-generator
